@inject SignInManager<ApplicationUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - AdvertismentPlatform</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>
<body>
    
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark text-white border-bottom mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="fas fa-truck-monster"></i>&nbsp;Advertisment Platform&nbsp;&nbsp;</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Manage
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        @if ((User.IsInRole("Admin") || User.IsInRole("Super Admin")))
                                        {
                                            <a class="dropdown-item" asp-controller="Administration"
                                               asp-action="ListUsers">Users</a>
                                            <a class="dropdown-item" asp-controller="Administration"
                                               asp-action="ListRoles">Roles</a>
                                        }
                                        <a class="dropdown-item" asp-controller="Advertisment"
                                           asp-action="MyAdvertisments">My Advertisments</a>
                                    </div>
                                </li>
                            
                            }
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            @if (signInManager.IsSignedIn(User))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLinkRigth"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Account
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkRight">
                                        <a class="dropdown-item" asp-controller="Account"
                                           asp-action="ChangePassword">Password</a>
                                        <a class="dropdown-item" asp-controller="Account"
                                           asp-action="UpdateProfileData">Settings</a>
                                        <form class="dropdown-item" method="post" asp-action="logout" asp-controller="account">
                                            <button type="submit" class="nav-link btn btn-link py-0 text-black-50" style="width:auto">
                                                Logout @User.Identity.Name
                                            </button>
                                        </form>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Account" asp-action="Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted bg-dark">
            <div class="container text-center">
                &copy; 2020 - AdvertismentPlatform
            </div>
        </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }
</body>
</html>
