@{
    ViewBag.Title = "Home Page";
}
<br />
<br />

<div class="text-center">
    <div class="text-right">
        <a asp-action="CreateAdvertise" asp-controller="Advertisment" class="btn btn-primary">Create Advertise</a>
    </div>
    <hr />
</div>
