@model AdvertismentPlatform.ViewModels.BikeAndCarViewModel
@using Microsoft.Extensions.Options
@inject IOptions<AdvertismentPlatform.Security.RecaptchaSettings> GoogleRecaptcha
@{
    ViewBag.Title = "Create New Advertise";
}

<h1>Add Article</h1>
<br />
<div class="row card bg-light m-1">
    <div class="col-md-12 card-body">
        <form method="post">
            <div>
                <h3 class="createAdType">Category:</h3>
                <a id="selectedItemTypevalue" class="nav-link dropdown-toggle createAdType h4" style="color:black" href="#"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    None
                </a>
                <div id="selectedItemType" class="dropdown-menu" aria-labelledby="DropDown">
                    <a class="dropdown-item" onclick="toggle_visibility('bikeAnchor','Bike');">Bike</a>
                    <a class="dropdown-item" onclick="toggle_visibility('carAnchor','Car');">Car</a>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
        </form>
    </div>
</div>

<br />


<div id="bikeAnchor" class="card bg-light hideble p-1" style="display : none">
    <div class="card-body">
        <partial name="~/Views/Advertisment/CreateBikeAd.cshtml" for="@Model"  />
    </div>
</div>


<div id="carAnchor" class="card bg-light hideble p-1" style="display : none">
    <div class="card-body">
        <partial name="~/Views/Advertisment/CreateCarAd.cshtml" for="@Model" />
    </div>
</div>



@section Scripts{
    <script src="~/js/ToggleElements.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleRecaptcha.Value.ReCAPTCHA_Site_Key"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleRecaptcha.Value.ReCAPTCHA_Site_Key', { action: 'homepage' }).then(function (token) {
                $('.RecaptchaToken').val(token);
            });
        });
    </script>
}