@model IEnumerable<Advertisment>;
@{
    ViewBag.Title = "My Advertisments";
    var viewAdUrl = Url.Action("ViewAdvertisment", "Home")+"?advId=";
}


@if (!Model.Any())
{
    <h2>You don't have any active advertisments currently.</h2>
    <h5>You can create some <a asp-action="CreateAdvertise" class="text-success">Here</a></h5>
}
else
{
    <h2>My Advertisments</h2>
    <br />

    <div class="card shadow rounded">

        <div class="card-header bg-dark text-light mb-1">
            <div class="row">
                <div class="col-2"><b>Photo</b></div>
                <div class="col-3 "><b>Item Details</b></div>
                <div class="col-2 text-center"><b>Price</b></div>
                <div class="col text-center"><b>Post Time</b></div>
                
            </div>
        </div>

        <div class="card-body">
            @for (int i = 0; i < Model.Count() - 1; i++)
            {
                var currentModel = Model.ElementAt(i);
                <partial name="~/Views/Advertisment/AdvertismentView.cshtml" for="@currentModel" />
                <hr />
                if (Model.Count() - i == 2)
                {
                    currentModel = Model.ElementAt(i + 1);
                    <partial name="~/Views/Advertisment/AdvertismentView.cshtml" for="@currentModel" />
                }
            }
        </div>

    </div>

}

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
    <script>
        function ViewAd(id) {            
            window.location.href = @viewAdUrl + id;

            }
    </script>
}